#Container{
	background: url(../images/soft.jpg);
}

header {
	background: url("../images/ikigai-consulting-management-business-project-japan-caribbean-sustainability.jpg");
	height: 100vh;
	background-color: blue;

}
#header {
	/* background-image: url("soft.jpg"); */
	background-color: rgb(155, 145, 145);
	background-repeat: none;
	background-size: 5px;
	background-blend-mode: multiply;
	animation: fade;
	animation-duration: 3s;
	margin: 25px 25px 0;
}

h3 {
	text-align: center;
	font-family: algerian;
}

#marquee1 {
	background-color: #e7e7e7;
	color: blue;
	animation-name: marquee;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

h5 {
	background-image: url("../images/photo.jpeg");
	font-family: gabriola;
	font-size: 40px;
	padding-right: 100px;
	padding-left: 100px;
	text-align: center;
	color: cyan;
}

input[type=text],
[type=email],
[type=date],
[type=file],
select {
	width: 50%;
	padding: 12px;
	background-color: #e7e7e7;
	color: black;
	size: 20px;
	text-align: center;
}

input[type=submit] {
	background-color: lightgreen;
	border-color: lightgreen;
	size: 20%;
}

input[type=submit]:hover {
	background-color: green;
	border-color: green;
	scale: 1.3;
}

label {
	font-size: 18px;
	font-family: Times New Roman;
}

fieldset {
	border: 2px solid green;
	background-color: #e7e7e7;
}

legend {
	text-align: left;
	font-family: algerian;
	font-size: 18px;
	font-style: italic;
}

img.solo {
	float: right;
}

img.soft {
	float: left;
	height: 25%;
	width: 32%;
	border: 2px solid black;
}

.print {
	background-color: #074f57;
	border-color: rgb(47, 53, 54);
}

button:hover {
	background-color: #074f57;
	border-color: rgb(47, 53, 54);
	scale: 1.3;
}

@keyframes fade{
	from{  opacity:0; }
	to{ opacity:1; }
}
	#marquee1{ 
		background-color:black; color: rgb(200, 200, 255);
	}

@keyframes marquee{
	0%{ color:yellow; background: rgba(90, 100, 210, 0);}
	20%{color:rgb(33, 33, 255); background: rgba(90, 100, 210, 0.2);}
	50%{color:green; background: rgba(90, 100, 210, 0.5);}
	100%{color:black; background: rgba(90, 100, 210, 1);}
}
.image { 
	background-color:#074f57;
	background-image: url("../images/photo.jpg");
color:white; 
}


.bg{ 
	background-color:#074f57; color:white;
}
.head{
	font-size:80%;
	text-align:center;
	color:blue;
}
a{
		text-decoration:none;
		color:black;
		background-color:blue;
}
.grid{
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows:auto auto auto;
	

}

button{
	/*transition-delay:0.2s;*/
	transition-duration:0.4s;
}

footer{
	height: 20px;
	background-color: rgba(0, 102, 255, 0.226);
}