:root{
	--primary-color: 
		linear-gradient(to right bottom, rgb(2, 2, 126), rgb(0, 4, 36));
	--button-color: rgb(134, 134, 78);
	--button-hover: #040129;
	--button-active: translateY(0.3rem);
}

/* ----Animation---- */
@keyframes marquee{
	0%{color:black; background: rgba(90, 100, 210, 1);}
	20%{color:rgb(33, 33, 255); background: rgb(244, 244, 247);}
	50%{color:green; background: rgb(111, 111, 116);}
	100%{color:black; background: rgba(90, 100, 210, 1);}
}

@keyframes fade{
	from{  opacity:0; }
	to{ opacity:1; }
}






*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding: 5rem;
	
}






body{
	transition: all 0.4s ease-in-out;
	background: var(--primary-color);
	
}




header {
	display: flex;
	position:fixed;
	top: 3px;
	justify-content: space-around;
	align-items: center;
}

header img{
	width: 15%;
}

header nav{
	background-color: #00000086;
	border-radius: 0.5rem;
}
header ul{
	padding: 1.2rem;
}

header nav ul li{
	display: inline;
}


header nav ul li a{
	text-decoration: none;
	font-size: 1.3rem;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	margin-top: 18px;
}
header nav ul li a:hover{
	color: #9c9797;
}
header nav div{
	display: flex;
	align-items: center;
	justify-content: center;
}

#homepage{
	background: url("../images/ikigai-consulting-management-business-project-japan-caribbean-sustainability.jpg");
	background-color: rgba(0, 0, 255, 0.534);
	height: 96vh;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: -1;

}
#homepage p{
	font-size: 1.9rem;
	color: #fff;
	font-weight: 600;
	text-align: center;
	line-height: 3.3rem;
	margin: 0  7rem;
}
#homepage p span{
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.815);
	background: #ffffff6e;
	padding: 0.9rem;
	margin: 0.4rem;
	border-radius: 0.5rem;
	
}



#marquee1 {
	background-color: #e7e7e7;
	color: blue;
	animation-name: marquee;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	height: 4vh;
	display: flex;
	align-items: center;
}


#content{
	font-size: 1.3rem;
	line-height: 2rem;
	border-radius: 0 0 0.5rem 0.5rem;
	background: var(--primary-color)
}
#content .section{
	padding: 2rem 3rem;
	text-align: justify;
}
#content h3{
	text-align: center;
}
.button{
	margin-top: 1rem;
	height:auto;
}

.button a{
	color: black;
	transition: transform 0.1s;
	padding: 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 0.5rem;
	border: 1px solid black;
	box-shadow:0 0.3rem 1px rgb(0, 0, 0);
	text-decoration: none;	
	background: var(--button-color);
}

.button a:hover {
	background-color: var(--button-hover);
	border-color: rgb(68, 65, 65);
	color: #fff;
}
.button a:active{
	box-shadow:0 0rem 0px rgba(0, 0, 0, 0);
}
.button:active{
	transform: var(--button-active); 
}

footer{
	padding: 1rem;
	font-size: 1.2rem;
	background: rgb(1, 29, 90);
	position: sticky;
	bottom: 0;
	z-index: -1;
}
footer .contact-items p:nth-child(1){
	font-weight: 600;
}
footer .contact-container ~ div{
	text-align: center;
}

footer .contact-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.message{
	position: fixed;
	right: 15px;
	bottom: 20px;
	
}
.message a{
	background: var(--button-color);
	border-radius: 100%;
}



/* -----------------projects page------- */





#projects-page .section, 
#services-page .section,
#about-page{
	margin-top: 20vh;
}

#projects-page .section-2{
	display: flex;
	background-color: #e7e7e7;
	border-radius: 2rem;
	justify-content: space-between;
}

/* ------------------services page---------- */
#services-page .process-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#services-page .process-container div{
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	margin: 1rem;
	box-shadow: 3px 3px 3px rgba(0, 0, 0),;
	box-shadow: -3px -3px 3px rgb(0, 0, 0);
	border-radius: 0.5rem;

	
}

#services-page .process-container div img{
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

#services-page .process-container div img:hover{
	scale: 1.1;

}


/* ------------------apply page---------- */


#apply-page .head:first-child{
	position: sticky; 
	top: 20vh;
}
#apply-page .head fieldset:nth-child(1){
	position: sticky; 
	top: 26vh;
	z-index: -1;
	margin-bottom: 15vh;
}

#apply-page .head fieldset:nth-child(2){
	position: relative; 
}

#apply-page table{
	width: 100%;
}
#apply-page input, button{
	border-radius: 0.5rem;
	text-align: center;
	padding: 0.5rem;
}
#apply-page form input:not(input[type="radio"],
input[type="submit"]), select{
	height: 2rem;
	width: 96%;
	
}

#apply-page fieldset{
	padding: 0.7rem;
	border-radius: 0.5rem;
	background: var(--primary-color);
}

#apply-page legend {
	text-align: center;
	font-family: algerian;
	font-size: 18px;
	font-style: italic;
} 


#apply-page .button{
	color: black;
	transition: transform 0.1s;
	padding: 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 0.5rem;
	border: 1px solid black;
	box-shadow:0 0.3rem 1px rgb(0, 0, 0);
	text-decoration: none;	
	background: var(--button-color);
}
#apply-page .button:hover{
	background-color: var(--button-hover);
	border-color: rgb(68, 65, 65);
	color: #fff;
}

#apply-page .button:active{
	box-shadow:0 0rem 0px rgba(0, 0, 0, 0);
}


/* --------------about page---------- */
#about-page .contain{
	margin: 0.2rem;
	background: var(--primary-color);
	border-radius: 0.5rem;
	box-shadow: 5px -4px 11px rgba(0, 0, 0);
	padding: 0.8rem;
}
#about-page .section{
	font-size: 24px;
	margin: 1rem;
}





/* .print {
	background-color: #074f57;
	border-color: rgb(47, 53, 54);
}




.grid{
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows:auto auto auto;
	

} 
 */










/* ------------------Voluntary Login Page-------------------- */
.forms{
    background: var(--bg-color);
    margin: 20px;
    border-radius: 20px;
    min-height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms p, .forms h3 {
    text-align: center;
    margin: 3px 3px 10px;
}


.forms .forms-container {
    background-color: #ffffff;
    padding: 5%;
    margin: 1%;
    border-radius: 20px;
    font-size: 18px;
    border: 3px solid rgb(35, 35, 73);
}

.forms fieldset{
    padding: 15px;
    border: 2px solid rgb(35, 35, 73);
    border-radius: 10px;
}

.forms input:not(input[type="checkbox"]) {
    width: 99%;
    height: 42px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid rgb(35, 35, 73);
}
.forms input::placeholder{
    font-style: italic;
}
.forms input[type="checkbox"]{
    width: 16px;
}
.forms label{
    margin: 200px 0px;
}
.forms .button {
    text-align: center;           
}

.forms button {
    text-align: center;
    color: black;
    background: rgb(108, 108, 192);
    box-shadow: 0px 4px 1px black;
    padding: 10px;
    border-radius: 6px;
    transition: all 0.2s;
    border: 2px solid rgb(35, 35, 73);

}
.forms button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0;
}