.contain{
	background:salmon;
	height: 100px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}


.title:hover, .subtitle:hover{
	color:red;
}

#to-index:link {
color:green;
}

img[src^="../"] {
	border: 10px solid red;
}